<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css" />
    <title>{{title}}</title>
  </head>

  <body>
    <div class="header">
      <div class="huge-image" style="background-image: url(images/background.jpg);">

      </div>
    </div>

    <div class="main">
      <h2 class="posts-title">Posts</h2>
      <div class="posts">
        <ul>
          {{#each collections.posts}}
            <li class="post">
              <span class="title"><a href="{{basename this.path}}">{{this.title}}</a></span>
              <span class="date">{{this.date}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </body>
</html>
